<button class="btn modal-trigger" (click)="loadModal()">{{buttonCaption}}</button>

<div [id]="modalId" class="modal">
  <div class="modal-content">
    {{modalId}}
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeOk()">OK</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeCancel()">Cancel</button>
  </div>
</div>


