<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Trip4U</h1>
            <div class="row center">
                <h5 class="header col s12 light">Traveling have never been so easy</h5>
            </div>
            <div class="row center">
                <a href="/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Start traveling</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="https://newevolutiondesigns.com/images/freebies/city-wallpaper-47.jpg"></div>
</div>


<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="col s12 center">
            <h4>Find travel routes</h4>
            <p>Let the app generate a route for your desiring trip. All you need is just 3 simple steps :)</p>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">place</i></h2>
                    <h5 class="center">Step 1</h5>

                    <p class="light">Pin places (countries, cities, city locations) you want to visit on a map.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Step 2</h5>

                    <p class="light">Provide additional information on your desired route (travel time, place priorities, way of traveling, etc.)</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">terrain</i></h2>
                    <h5 class="center">Step 3</h5>

                    <p class="light">Wait a bit and enjoy the route generated specially for you :)</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Share your memories</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="https://newevolutiondesigns.com/images/freebies/city-wallpaper-47.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>You have completed a route?</h4>
                <p class="left-align light">Write a blog on it and share all the emotions with the whole trip4u community. It'll describe your trip step-by-step and let everyone to feel all these wonderful emotions with you. Add notes, videos and images to every place you've visited.</p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Collaborate</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="https://newevolutiondesigns.com/images/freebies/city-wallpaper-47.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Want the whole world to know your hometown?</h4>
                <p class="left-align light">Help to edit info about city locations and nearby places of your hometowns. Put ratings, reviews, media materials for locations and help other people to discover places you know</p>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Create your own routes</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="https://newevolutiondesigns.com/images/freebies/city-wallpaper-47.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Want to share your routes with someone else?</h4>
                <p class="left-align light">Generate your custom routes so all users will be able to watch it and add for future travel plans</p>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Explore places online</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="https://newevolutiondesigns.com/images/freebies/city-wallpaper-47.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Not planning future trips?</h4>
                <p class="left-align light">Explore different locations online traveling step-by-step to all the places you would like</p>
            </div>
        </div>

    </div>
</div>

