<intro-panel appName="Trip4U"
             image="https://pp.vk.me/c543109/v543109717/24286/RAwu_TtjmU4.jpg"
             imageCaption="Traveling have never been so easy"></intro-panel>

<parallax-item image="https://pp.vk.me/c543109/v543109717/266b4/maP3K4i2u9M.jpg"
               imageCaption="Save your memories"
               caption="You have completed a route?"
               icon="beenhere"
               text="Mark places/routes as visited to improve app stats and location/place rates. Write a blog on it and
                share all the emotions with the whole trip4u community. It'll describe your trip step-by-step and let
                everyone to feel all these wonderful emotions with you. Add notes, videos and images to every place
                you've visited." ></parallax-item>

<parallax-item image="https://pp.vk.me/c543109/v543109717/24f6c/RyWroA-cQ5k.jpg"
               imageCaption="Contribute"
               caption="Want the whole world to know your hometown?"
               icon="domain"
               text="Help to improve the app posting materials on your hometown and nearby locations.
                    Put ratings, reviews, media materials for locations and help other people to discover places you know.
                    Best rated routes and posts change app stats and help the app to modify future recommendations
                    to make work with Trip4U more efficient." ></parallax-item>

<parallax-item image="https://pp.vk.me/c543109/v543109717/25991/7yDRZzHt4lc.jpg"
               imageCaption="Create your own routes"
               caption="Want to share your routes with someone else?"
               icon="flight"
               text="Generate your custom routes so all users will be able to watch it and add for future travel plans.
                    Leave feedback on other people's routes and blogs, provide alternative ways and improve other user's
                    experience." ></parallax-item>

<parallax-item image="http://images0.aystatic.com/articles/304/96332_home_hero.jpg?1430797402"
               imageCaption="Explore places online"
               caption="Want to explore the world sitting at home?"
               icon="public"
               text="If you are not planning to travel not or if you are simply looking for an info about places to go,
               just pin a place on the map and explore nearby locations with the help of user’s posts/photos/videos
               online." ></parallax-item>