<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">{{appName}}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{imageCaption}}</h5>
      </div>
      <div class="row center">
        <a href="#/confirm" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Start
          traveling</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{{image}}"></div>
</div>


<div class="container">
  <div class="section">
    <div class="col s12 center">
      <h4>{{textContentCaption}}</h4>
      <p>{{textContent}}</p>
    </div>

    <div class="row">
      <step-item icon="place"
                 caption="Step 1"
                 text="Pin places (countries, cities, city locations) you want to visit on a map."></step-item>
      <step-item icon="settings"
                 caption="Step 2"
                 text="Provide additional information on your desired route (travel time, place priorities,
                       way of traveling, etc.)"></step-item>
      <step-item icon="terrain"
                 caption="Step 3"
                 text="Wait a bit and enjoy the route generated specially for you :)"></step-item>
    </div>
  </div>
</div>