<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Trip4U</a>
    </div>
</nav>
<div class="wrap">
    <router-outlet></router-outlet>
</div>

<t4u-side-menu>
    <li><a href="/login">Login</a></li>
    <li><a href="/confirm">Confirm</a></li>
</t4u-side-menu>

<t4u-up-button></t4u-up-button>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Trip4U</h5>
                <p class="grey-text text-lighten-4">Join us to make traveling much fun and easier!</p>

            </div>
            <div class="col l6 s12">
                <h5 class="white-text">Contact us:</h5>
                <ul>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="#!">Twitter</a></li>
                    <li><a class="white-text" href="#!">Github</a></li>
                    <li><a class="white-text" href="#!">Email</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Trip4U &copy; 2016
        </div>
    </div>
</footer>