<content-panel>
  <div class="row">
    <div class="col s3 center-align">
      <img class="user-avatar" [src]="imgSource">
    </div>

    <div class="col s9">
      <p>firstName lastName (userName)</p>
      <div class="col s5 no-padding">
        <b>Date of birth:</b> birthday
      </div>
      <div class="col s7 no-padding">
        <t4u-editable-text [text]="imgSource" label="Gender" readonly="false" (textChanged)="imgSource=$event"></t4u-editable-text>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">

    </div>
  </div>
</content-panel>