<div class="container">
  <div class="row">
    <div class="valign-wrapper">
      <div class="col s12 m8 block-center-align">
        <h3>Login:</h3>
        <form>
          <div>
            <label for="userName">Login:</label>
            <input type="text" id="userName" name="userName" required/>
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
          </div>
          <div>
            <input type="checkbox" id="rememberMe" name="rememberMe" checked> Remember me
          </div>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>