<div class="container">
  <div class="row">
    <div class="valign-wrapper">
      <div class="col s12 m8 block-center-align">
        <h3>Login:</h3>
        <form #loginForm="ngForm" (ngSubmit)="performLogin()">
          <div>
            <label for="userName">Login:</label>
            <input type="text" id="userName" name="userName"
                   [(ngModel)]="model.userName" required #userName="ngModel"/>
            <div [hidden]="userName.valid || userName.pristine">
              Login is required
            </div>
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"
                   [(ngModel)]="model.password" required #password="ngModel"/>
            <div [hidden]="password.valid || password.pristine">
              Password is required
            </div>
          </div>
          <div>
            <input type="checkbox" id="rememberMe" name="rememberMe"
                   [(ngModel)]="model.rememberMe" checked> Remember me
          </div>
          <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>